body {
  width: 80%;
  margin: 5px auto;
}

#image-container {
  display: flex;
  flex-wrap: wrap;
  border: solid blue;
  justify-content: space-evenly;
}

#image-container fieldset {
  width: 25%;
  margin: 25px;
}

#image-container fieldset label {
  text-align: center;
  width: 100%;
}

#image-container fieldset img{
  width: 100%;
  margin-top: 15px;
}

input[type=radio] {
  display: none;
}
